$custom:  black; // rgb(164, 53, 50); // a43532
$primary: $custom;
$link: $custom;
$danger: $custom;
$info: white;
$warning: grey;
$success: black;

$navbar-breakpoint: 0px;
$section-padding: 3rem 0rem;
$section-padding-desktop: 3rem 0rem;

// Oruga
$modal-content-background-color: transparent;
