$custom:  black; // rgb(164, 53, 50); // a43532
$primary: $custom;
$link: $custom;
$danger: red;
$info: white;
$warning: lightgrey;
$success: black;

$dimensions: 48 288;
$navbar-breakpoint: 0px;
$section-padding: 3rem 0rem;
$section-padding-desktop: 3rem 0rem;

// Used for the admin sidebar:
// reduced horizontal and vertical padding
$section-padding-medium: 0rem 0.75rem;

// Oruga
$modal-content-background-color: transparent;
// $loading-overlay-legacy: #00000000;
// $loading-overlay:	rgba(255,255,255,0);
